/* start global  */
:root {
    /*  my colors  */
    --color1:#241822 ;
    --color2:#69409E ;
    --color3:#36C2F3 ;
    --color4:#2c8070 ;
    --color5:#62c04080 ;
    /* main colors  */
    --main-color1:#63c040;
    --main-color2:#1B2445;
    --main-color3:#3C435F;
    /* p-color */
    --p-color:#241822c0;
    /* padding  */
    --main-padding:100px;
}
.btn-primary {
    color: #fff;
    background-color: var(--main-color1);
    border-color: var(--main-color1);
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--color5);
    border-color: var(--color5);
}
.btn-outline-primary {
    color: var(--main-color1);
    border-color: var(--main-color1);
}
.btn-outline-primary:hover {
    color:white;
    background-color: var(--main-color1);
    border-color: var(--main-color1);
}
/* end global */
/* start componant */
.main-heading {
    position: relative;
    text-align: center;
}
.main-heading  h2 {
    color: var(--main-color2);
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.main-heading  p {
    width: 500px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--p-color);
}
.main-heading  p::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 1px;
    bottom: -30px;
    background-color: black;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.main-heading  p::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    background-color:var(--main-color2);
    border: 1px solid black;
    bottom: -39px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end componant */
/* start navbar  */
.navbar {
    position: relative;
    background-color: transparent;
    padding: 35px 0px;
}
.navbar-collapse {
    flex-grow: initial;
}
.navbar .nav-item {
   padding-right: 50px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover  {
    color: white;
}
.navbar .dropdown-menu {
    background-color: var(--main-color1);
}
.navbar .dropdown-menu a {
    color: white;
}
/* end navbar  */
/* start landing  */
.landing {
    height: 100vh;
    overflow: hidden;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment:fixed ;
}
.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.66); 
}
.landing .contant {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.landing .contant .name {
    font-size: 30px;
}
.landing .contant h1 {
    font-size: 40px;
    color: var(--main-color1);
}
.landing .contant .description {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 50px;
}
.landing .contant button {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
}
@media (max-width:992px){ 
    .landing .contant .name {
        font-size: 20px;
    }
    .landing .contant h1 {
        font-size: 30px;
    }
    .landing .contant .description {
        font-size: 16px;
    }
    .landing .contant button {
        font-size: 15px;
        padding: 10px;
    }
    .landing .navbar-collapse {
        position: relative;
        z-index: 1;
        background-color:var(--color1);
    }
    .navbar .dropdown-menu {
        background-color: var(--color5);
    }
}
@media (max-width:768px) {
    .landing .contant {
        width: 100%;
    }
    .landing .contant h1 {
        font-size: 24px;
    } 
    .landing {
        background-image: url(../img/bg2.jpg);
    }
}
@media (max-width:576px) {
    .landing .contant {
        width: 100%;
    }
    .landing .contant h1 {
        font-size: 24px;
    } 
}
/* end landing  */
/* starting domain  */
.domain {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.domain .domain-contant .dom {
    padding: 40px;
}
.domain .domain-contant .dom h3 {
    color: var(--main-color2);
}
.domain .domain-contant .dom i {
    text-align: center;
    font-size: 150px;
    color: var(--color3);
}
@media (max-width:992px){
    .domain .domain-contant .dom i {
        font-size: 100px;
    }
}
@media (max-width:768px) {
    .domain .domain-contant .dom i {
        font-size: 80px;
    } 
}
.domain .domain-contant .dom .text p {
   text-align: start;
   max-width: 400px;
}
@media (max-width:576px) {
    .domain .domain-contant .dom i {
        font-size: 60px;
    } 
    .domain .domain-contant .dom h3 {
        font-size: 18px;
    }
    .domain .domain-contant .dom p {
        font-size: 12px;
    }
}
/* end domain  */
/* start our project section */
.our-projects {
    padding-top: var(--main-padding);
    background-color: var(--main-color2);
    position: relative;
    margin-bottom: var(--main-padding);
}
.our-projects .main-heading h2 {
    color: var(--main-color1);
}
.our-projects .main-heading p {
    color: var(--color5);
}
.our-projects .main-heading  p::before {
    background-color: var(--color5);
}
.our-projects .main-heading  p::after {
    background-color: var(--main-color1);
    border-color: var(--color5) ;
}
.our-projects .down-space {
    width: 100%;
    height: 100vh;
    overflow: hidden;  
    position: relative;  
}
.our-projects .down-space .img-space {
    left: -254px;
    top: -131px;
    position: relative;
    width: 1220px;
    height: 1220px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-projects .down-space .img-space::after {
    left: 259px;
    top: 258px;
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #1b244552;
    border: solid 45px #1b2445d9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-projects .down-space .img-space::before {
    left: 131px;
    top: 126px;
    content: "";
    position: absolute;
    width: 960px;
    height: 957px;
    border: solid 80px #1b244573;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 2;
}
.our-projects .down-space .img-space .carousel {
    position:absolute;
    left: 100px;
    top: -219px;
    width: 100%;
}
.our-projects .down-space img.logo {
    position: absolute;
    bottom: 196px;
    left: 243px;
    width: 256px;
}
.our-projects .down-space img.logo2 {
    display: none;
    position:absolute;
    bottom: 0;
    right: 0;
    width: 207px;
}
.our-projects .down-space p {
    display: none;
    position: absolute;
    top: 0;
    right: 17px;
    color: white;
    font-size: 43px;
    font-weight: bold;
    text-align: end;
}
.our-projects .down-space p span {
    color: var(--main-color1);
}
@media (min-width:768px) {
    .our-projects .down-space {
        height: 76vh;
    }
    .our-projects .down-space .img-space {
        left: -295px;
        width: 900px;
        height: 900px;
    }
    .our-projects .down-space img.logo2 {
        display: block;
        width: 152px;
    }
    .our-projects .down-space p {
        display: block;
        font-size: 31px;
    }
    .our-projects .down-space .img-space::after {
        border: solid 27px #1b2445d9;
        left: 342px;
        top: 232px;
        width: 400px;
        height: 400px;
    }
    .our-projects .down-space .img-space::before {
        border: solid 53px #1b244573;
        left: 243px;
        top: 132px;
        width: 600px;
        height: 600px;
    }
    .our-projects .down-space img.logo {
        bottom: 210px;
        left: 157px;
        width: 189px;
    }
}
@media (min-width:992px) {
    .our-projects .down-space {
        height: 100vh;
    }
    .our-projects .down-space .img-space {
        left: -295px;
        width: 1100px;
        height: 1100px;
    }
    .our-projects .down-space img.logo2 {
        width: 182px;
    }
    .our-projects .down-space p {
        font-size: 40px;
    }
    .our-projects .down-space .img-space::after {
        border: solid 45px #1b2445d9;
        left: 247px;
        top: 223px;
        width: 600px;
        height: 600px;
    }
    .our-projects .down-space .img-space::before {
        border: solid 80px #1b244573;
        left: 127px;
        top: 99px;
        width: 850px;
        height: 850px;
    }
    .our-projects .down-space img.logo {
        bottom: 266px;
        left: 145px;
        width: 240px;
    }
}
@media (min-width:1200px) {
    .our-projects .down-space .img-space {
        left: -254px;
        width: 1220px;
        height: 1220px;
    }
    .our-projects .down-space img.logo2 {
        width: 207px;
    }
    .our-projects .down-space p {
        font-size: 43px;
    }
    .our-projects .down-space .img-space::after {
        left: 259px;
        top: 258px;
        width: 700px;
        height: 700px;
    }
    .our-projects .down-space .img-space::before {
        left: 131px;
        top: 126px;
        width: 960px;
        height: 957px;
    }
    .our-projects .down-space img.logo {
        bottom: 196px;
        left: 243px;
        width: 256px;
    }
}
/* end our project section  */