/* start global  */
:root {
    /*  my colors  */
    --color1:#241822 ;
    --color2:#69409E ;
    --color3:#36C2F3 ;
    --color4:#2c8070 ;
    --color5:#62c04080 ;
    /* main colors  */
    --main-color1:#63c040;
    --main-color2:#1B2445;
    --main-color3:#3C435F;
    /* p-color */
    --p-color:#241822c0;
    /* padding  */
    --main-padding:100px;
}
.btn-primary {
    color: #fff;
    background-color: var(--main-color1);
    border-color: var(--main-color1);
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--color5);
    border-color: var(--color5);
}
.btn-outline-primary {
    color: var(--main-color1);
    border-color: var(--main-color1);
}
.btn-outline-primary:hover {
    color:white;
    background-color: var(--main-color1);
    border-color: var(--main-color1);
}
/* end global */
/* start componant */
.main-heading {
    position: relative;
    text-align: center;
}
.main-heading  h2 {
    color: var(--main-color2);
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.main-heading  p {
    font-size: initial !important;
    width: 500px !important;
    margin: 0 auto 100px !important;
    max-width: 100%;
    line-height: 2;
    color: var(--p-color) !important;
}
.main-heading  p::before {
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 1px;
    bottom: -30px;
    background-color: black;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.main-heading  p::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    background-color:var(--main-color2);
    border: 1px solid black;
    bottom: -39px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* end componant */
/* start navbar  */
.navbar {
    position: relative;
    background-color: transparent;
    padding: 35px 0px;
}
.navbar-collapse {
    flex-grow: initial;
}
@media (max-width:992px){ 
    .navbar .dropdown-menu {
        background-color: var(--color5);
    }
    .navbar-collapse {
        position: relative;
        z-index: 1;
        background-color:var(--color1);
    }
}
.navbar .nav-item {
   padding-right: 50px;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover  {
    color: white;
}
.navbar .dropdown-menu {
    background-color: var(--main-color1);
}
.navbar .dropdown-menu a {
    color: white;
}
.navbar button a {
    color: white;
    text-decoration: none;
}
/* end navbar  */
/* start contact  */
.contact-section {
    padding-top: calc(var(--main-padding) * 2) ;
    background-image: linear-gradient(1deg, white  , var(--main-color2) );
}
.contact-section .upper-side {
    margin-bottom: 100px;
}
.contact-section .upper-side img {
    width: 182px;
    margin-bottom: 20px;
}
@media (max-width:1199px) {
    .contact-section .upper-side .section-1 {
        display: block;
        margin: auto;
        width: fit-content;
        margin-bottom: 25px;
        text-align: center;
    }
    .contact-section .upper-side img {
         width: 78%;
    }
}
.contact-section .upper-side p {
    color: white;
    font-size: 20px;
}
.contact-section .upper-side .icon i {
    font-size: 25px;
    margin-right: 10px;
    color: var(--main-color2);
    cursor: pointer;
}
.contact-section .upper-side .icon i:hover {
    color: white;
}
.contact-section .upper-side ul {
    background-color: transparent;
    width: fit-content;
}
.contact-section .upper-side li {
    background-color: transparent;   
    color: white;
}
@media (max-width:1199px) {
    .contact-section .upper-side li {
        text-align: center;
    }
    .contact-section .upper-side ul {
    display: block;
    margin: auto;
    }
}
.contact-section .upper-side li:first-of-type {
    color: var(--main-color2);
    font-size: 25px;
}
.contact-section .upper-side li a {
    color: white;
    text-decoration: none;
    position: relative;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
    -webkit-transition:0.3s;
}
.contact-section .upper-side li a:hover {
    color: var(--main-color3);
    margin-left: 20px;
}
.contact-section .container > p {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.contact-section .container > p span {
    color: var(--main-color1);
}
/* end contact  */
